---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { publishedPostFilter } from "../../content.config";

export async function getStaticPaths() {
  const posts = await getCollection("blog", publishedPostFilter);
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <div class="blog-post">
    <h1>{post.data.title}</h1>
    <Content />
  </div>
</Layout>

<style>
  .blog-post {
    display: grid;
    gap: 2rem;
  }
</style>
