---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import BlogSummary from "../../components/BlogSummary/BlogSummary.astro";
import { publishedPostFilter } from "../../content.config";

const posts = await getCollection("blog", publishedPostFilter);
---

<Layout
  title="Blog"
  description="Writing on software engineering, Astro, React, and whatever I'm building."
>
  <h1>Blog</h1>
  <div class="blog-section">
    {
      posts.length > 0 ? (
        <ul>
          {posts.map((post) => (
            <li>
              <BlogSummary post={post} />
            </li>
          ))}
        </ul>
      ) : (
        <div id="empty-blog">
          <p>No posts yet</p>
        </div>
      )
    }
  </div>
</Layout>

<style>
  ul {
    width: 100%;
    display: grid;
    gap: 1rem;
  }
  p {
    margin: 0;
  }
  ul {
    align-self: start;
  }

  time {
    font-size: smaller;
    justify-self: end;
  }
  .blog-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #empty-blog {
    width: 100%;
    height: 90%;
    display: grid;
    place-content: center;
  }
</style>
