.border-image {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    padding: 1rem
}

.border-image .image-wrapper {
    height: 275px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
}