---
import { HeroSection } from "../components/HeroSection/HeroSection";
import BorderImage from "../components/BorderImage/BorderImage.astro";
import Layout from "../layouts/Layout.astro";
import RecentBlogPost from "../components/RecentBlogPosts/RecentBlogPosts.astro";
---

<Layout>
  <div class="container">
    <HeroSection>
      <p id="home-page-heading">
        Hey I’m Matthew, I’ve been engineering software for over a decade and I
        love building things. Welcome to my little corner of the internet.
      </p>
      <BorderImage src="/src/assets/me.jpg" />
    </HeroSection>
    <div id="recent-blog-section">
      <RecentBlogPost />
    </div>
  </div>
</Layout>

<style>
  #home-page-heading {
    font-size: 20px;
  }
  .container {
    display: grid;
    gap: 10rem;
  }
  p {
    margin-top: 40px;
  }
</style>
